body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: steelblue;
}

.form{
    background: white;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;
}
button{
    border: none;
    background: tomato;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 98%;
}

input[type="submit"]{
    border: none;
    background: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 96%;
    box-sizing: content-box;
}

#eventsContainer{
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event{
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event .days{
    text-align: center;
    width: 100px;
}
.event .days .days-number{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.event .event-name{
    padding: 10px;
    width: 200px;
}

.event .event-date{
    padding: 10px;
    width: 100px;
}

.event .actions{
    padding: 10px;
}