*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: rgb(45, 122, 45);
}
.rating{
    margin-top: 100px;
    display: flex;
    justify-content:center;
}
.item{
    background: rgb(198, 198, 198);
    -webkit-mask-image: url(star.svg);
    mask-image: url(star.svg);
    width: 100px;
    height: 97px;
    cursor: pointer;
}

.item-full{
    background: yellow;
}